@layer cardigan.base {
    * {
        box-sizing: border-box;
    }

    :root {
        --red-50: rgb(9.8149% 0.02376% 1.6904%);
        --red-100: rgb(19.269% 0.15859% 5.1332%);
        --red-150: rgb(27.51% 0.49898% 8.5468%);
        --red-200: rgb(35.435% 1.1753% 11.777%);
        --red-300: rgb(51.158% 4.3201% 18.084%);
        --red-400: rgb(66.914% 9.7347% 24.45%);
        --red-500: rgb(82.048% 17.812% 31.365%);
        --red-600: rgb(93.139% 32.413% 40.857%);
        --red-700: rgb(96.624% 51.851% 54.722%);
        --red-800: rgb(97.731% 69.309% 69.76%);
        --red-900: rgb(98.611% 85.143% 84.921%);
        --orange-50: rgb(10.144% 1.4411% 0.02239%);
        --orange-100: rgb(19.064% 4.5052% 0.13006%);
        --orange-150: rgb(26.772% 7.9639% 0.37042%);
        --orange-200: rgb(34.096% 11.394% 0.79854%);
        --orange-300: rgb(48.377% 18.455% 2.4999%);
        --orange-400: rgb(62.484% 25.951% 5.8528%);
        --orange-500: rgb(76.265% 34.137% 10.83%);
        --orange-600: rgb(88.593% 43.88% 19.831%);
        --orange-700: rgb(95.586% 57.319% 37.775%);
        --orange-800: rgb(97.714% 72.328% 59.443%);
        --orange-900: rgb(98.698% 86.576% 80.332%);
        --yellow-50: rgb(10.49% 5.2003% 0.02416%);
        --yellow-100: rgb(18.538% 10.79% 0.13446%);
        --yellow-150: rgb(25.44% 15.732% 0.38581%);
        --yellow-200: rgb(31.879% 20.469% 0.84316%);
        --yellow-300: rgb(44.057% 29.775% 2.679%);
        --yellow-400: rgb(55.675% 39.085% 6.0113%);
        --yellow-500: rgb(66.884% 48.499% 9.9489%);
        --yellow-600: rgb(77.677% 58.073% 14.823%);
        --yellow-700: rgb(87.694% 67.941% 22.765%);
        --yellow-800: rgb(95.21% 78.533% 40.244%);
        --yellow-900: rgb(98.047% 89.75% 69.887%);
        --green-50: rgb(0.073% 5.8805% 2.388%);
        --green-100: rgb(0.44229% 12.458% 6.4345%);
        --green-150: rgb(1.3086% 18.204% 10.046%);
        --green-200: rgb(2.9173% 23.714% 13.405%);
        --green-300: rgb(8.1642% 34.591% 19.747%);
        --green-400: rgb(14.278% 45.533% 25.748%);
        --green-500: rgb(21.148% 56.613% 31.452%);
        --green-600: rgb(28.815% 67.825% 36.893%);
        --green-700: rgb(37.574% 79.085% 42.31%);
        --green-800: rgb(49.134% 89.939% 49.424%);
        --green-900: rgb(73.57% 96.689% 70.836%);
        --turquoise-50: rgb(0.02719% 6.4411% 8.5956%);
        --turquoise-100: rgb(0.15673% 12.97% 16.051%);
        --turquoise-150: rgb(0.45402% 18.702% 22.417%);
        --turquoise-200: rgb(0.99608% 24.19% 28.367%);
        --turquoise-300: rgb(3.1736% 34.973% 39.667%);
        --turquoise-400: rgb(6.8487% 45.76% 50.502%);
        --turquoise-500: rgb(11% 56.646% 60.996%);
        --turquoise-600: rgb(15.798% 67.64% 71.165%);
        --turquoise-700: rgb(22.379% 78.662% 80.908%);
        --turquoise-800: rgb(36.067% 89.125% 89.601%);
        --turquoise-900: rgb(67.331% 96.217% 95.129%);
        --blue-50: rgb(0.92813% 1.9627% 12.748%);
        --blue-100: rgb(2.7096% 6.3178% 23.488%);
        --blue-150: rgb(4.9336% 10.73% 32.455%);
        --blue-200: rgb(7.0889% 15.172% 40.756%);
        --blue-300: rgb(11.308% 24.496% 56.299%);
        --blue-400: rgb(16.004% 34.505% 70.693%);
        --blue-500: rgb(22.634% 45.285% 82.948%);
        --blue-600: rgb(33.748% 56.76% 90.657%);
        --blue-700: rgb(48.584% 68.196% 94.484%);
        --blue-800: rgb(65.217% 79.175% 96.457%);
        --blue-900: rgb(82.47% 89.727% 98.106%);
        --purple-50: rgb(4.2681% 0.07486% 14.16%);
        --purple-100: rgb(10.514% 0.45116% 25.888%);
        --purple-150: rgb(16.129% 1.2921% 35.817%);
        --purple-200: rgb(21.677% 2.7975% 45.123%);
        --purple-300: rgb(33.081% 7.8739% 62.872%);
        --purple-400: rgb(44.921% 14.931% 79.211%);
        --purple-500: rgb(56.306% 26.585% 91.045%);
        --purple-600: rgb(66.096% 42.266% 95.234%);
        --purple-700: rgb(75.187% 57.371% 96.543%);
        --purple-800: rgb(83.818% 71.863% 97.127%);
        --purple-900: rgb(92.1% 85.98% 98.171%);
        --neutral-50: rgb(2.9824% 3.292% 4.1839%);
        --neutral-100: rgb(8.1155% 8.7025% 10.144%);
        --neutral-150: rgb(12.678% 13.478% 15.326%);
        --neutral-200: rgb(17.094% 18.102% 20.301%);
        --neutral-300: rgb(25.975% 27.39% 30.158%);
        --neutral-400: rgb(35.163% 36.941% 40.089%);
        --neutral-500: rgb(44.768% 46.803% 50.085%);
        --neutral-600: rgb(54.864% 56.959% 60.054%);
        --neutral-700: rgb(65.49% 67.378% 69.946%);
        --neutral-800: rgb(76.622% 78.031% 79.802%);
        --neutral-900: rgb(88.167% 88.905% 89.766%);

        --border-radius: 0.5em;

        --transition-curve: cubic-bezier(.79,-0.42,.18,1.42);
        --transition-curve-forward: cubic-bezier(.73, .15, .38, 1.36);
        --transition-curve-reverse: cubic-bezier(.62,-0.36,.27,.85);
    }

    @each $col in red, orange, yellow, green, turquoise, blue, purple, neutral {
        .color-$col {
            @each $step in 50, 100, 150, 200, 300, 400, 500, 600, 700, 800, 900 {
                --color-$(step): var(--$(col)-$(step));
            }
        }
    }

    body {
        background-color: var(--neutral-150);
        color: var(--neutral-900);
    }
}