@keyframes move {
	0%,
	66.6%,
	100% {
		transform: translateY(0em);
		background-color: var(--color-400);
	}
	16.6%,
	50% {
		transform: translateY(-1em);
		background-color: var(--color-600);
	}
}

:host > .loader-inner {
	display: flex;
	justify-content: center;
	gap: 0.5em;
	margin: 1em 0;
	span {
		display: inline-block;
		height: 1em;
		width: 1em;
		border-radius: 50%;
		background-color: var(--color-400);

		animation: move 1.5s infinite forwards var(--transition-curve);

		&:nth-child(2) {
			animation-delay: 0.075s;
		}

		&:nth-child(3) {
			animation-delay: 0.15s;
		}

		&:nth-child(4) {
			animation-delay: 0.225s;
		}

		&:nth-child(5) {
			animation-delay: 0.3s;
		}
	}
}

:host > .loader-text {
	display: block;
	text-align: center;
	color: var(--neutral-700);
}
